#container {
    display: grid;
    gap: 3px;
    justify-content: center;

}

.total {
    display: flex;
    grid-column-start: 1 ;
    grid-column-end: 4;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    padding-right: 1px;
}

#equals {
    grid-column-start: 1;
    grid-column-end: 4;
}